@charset "UTF-8";
@font-face {
  font-family: myFont-1;
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: myFont-2;
  src: url(../assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: myFont-3;
  src: url(../assets/fonts/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: myFont-4;
  src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: myFont-5;
  src: url(../assets/fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: myFont-6;
  src: url(../assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: myFont-7;
  src: url(../assets/fonts/Lato-LightItalic.ttf);
}
@font-face {
  font-family: myFont-8;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: myFont-9;
  src: url(../assets/fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: myFont-10;
  src: url(../assets/fonts/Lato-ThinItalic.ttf);
}
@font-face {
  font-family: myFont-11;
  src: url(../assets/fonts/Lato-BoldItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: myFont-8, sans-serif;
  color: #666666;
}

.wrapper-container {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 390px) {
  .wrapper-container {
    padding: 0 15px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #666666;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

h3 {
  color: #007a82;
}

nav {
  background-color: #ededed;
  padding: 12px 0;
}
nav .wrapper-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 390px) {
  nav .wrapper-container {
    flex-direction: column;
    gap: 10px;
  }
}
nav .nav-bar-left, nav .nav-bar-logo, nav .nav-bar-right {
  width: 33.33%;
}
@media screen and (max-width: 390px) {
  nav .nav-bar-left, nav .nav-bar-logo, nav .nav-bar-right {
    width: 100%;
  }
}
nav .nav-bar-left ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 390px) {
  nav .nav-bar-left ul {
    flex-direction: column;
    gap: 5px;
  }
}
nav .nav-bar-left ul li a:hover {
  color: #febb0c;
}
nav .nav-bar-left ul li .active {
  color: #febb0c;
  background-color: #ededed;
}
nav .nav-bar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-bar-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}
nav .nav-bar-right {
  text-align: right;
}
@media screen and (max-width: 390px) {
  nav .nav-bar-right {
    text-align: center;
  }
}
nav .nav-bar-right ul li a {
  display: block;
  color: #666666;
  border: 0;
  border-radius: 80px;
  padding: 10px 20px;
  background-color: #ededed;
}
nav .nav-bar-right ul li a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #007a82;
}
nav .nav-bar-right ul li .active {
  color: #ffffff;
  background-color: #007a82;
}

.banner-container {
  background-color: #ededed;
  position: relative;
}
.banner-container .wrapper-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .banner-container .wrapper-container {
    flex-direction: column-reverse;
  }
}
.banner-container .banner-left-container {
  width: 50%;
}
.banner-container .banner-left-container .banner-text {
  margin-bottom: 15px;
}
@media screen and (max-width: 390px) {
  .banner-container .banner-left-container .banner-text {
    margin: 15px 0;
  }
}
.banner-container .banner-left-container .banner-text h4 {
  display: inline-block;
  color: #007a82;
}
.banner-container .banner-left-container .banner-text::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #febb0c;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.banner-container .banner-left-container .banner-title {
  max-width: 480px;
}
.banner-container .banner-left-container .banner-title h1 {
  color: #3d3d3d;
  font-size: 70px;
  font-family: myFont-1;
  font-weight: 100;
  letter-spacing: 1.5px;
}
.banner-container .banner-left-container .banner-para {
  padding-right: 88px;
}
@media screen and (max-width: 390px) {
  .banner-container .banner-left-container .banner-para {
    padding-right: 0;
  }
}
.banner-container .banner-left-container .banner-para p {
  line-height: 1.5;
}
.banner-container .banner-left-container .banner-button {
  margin: 30px 0;
}
.banner-container .banner-left-container .banner-button a {
  display: block;
  color: #666666;
  border: 0;
  border-radius: 80px;
  padding: 10px 20px;
  background-color: #ededed;
  display: inline-block;
}
.banner-container .banner-left-container .banner-button a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #007a82;
}
.banner-container .banner-left-container .banner-button .active {
  color: #ffffff;
  background-color: #007a82;
}
.banner-container .banner-left-container .banner-service {
  padding-right: 180px;
}
@media screen and (max-width: 390px) {
  .banner-container .banner-left-container .banner-service {
    padding-right: 0;
    padding-bottom: 15px;
  }
}
.banner-container .banner-left-container .banner-service ul li {
  margin-bottom: 15px;
}
.banner-container .banner-left-container .banner-service ul li a::before {
  content: "•";
  color: #febb0c;
  margin-right: 20px;
  margin-left: 20px;
}
.banner-container .banner-left-container .banner-service ul li .no-desc::before {
  content: none;
}
.banner-container .banner-image {
  width: 50%;
  padding-left: 40px;
}
@media screen and (max-width: 390px) {
  .banner-container .banner-image {
    padding-left: 0;
  }
}
.banner-container .banner-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 390px) {
  .banner-container .banner-left-container, .banner-container .banner-image {
    width: 100%;
  }
}

footer {
  position: relative;
  top: -53px;
}
@media screen and (max-width: 390px) {
  footer {
    top: 0;
    background-color: #ededed;
    padding-bottom: 15px;
  }
}
footer .portfolio-content {
  display: flex;
  gap: 15px;
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 390px) {
  footer .portfolio-content {
    flex-direction: column;
    width: 360px;
  }
}
footer .portfolio-content .portfolio-flex-box {
  background-color: #ffffff;
}
footer .portfolio-content .portfolio-flex-box .portfolio-wrap-box {
  margin: 18px;
  border-bottom: 3px solid #febb0c;
}
footer .portfolio-content .portfolio-flex-box .portfolio-wrap-box h3 {
  font-size: 25px;
}
footer .portfolio-content .portfolio-flex-box .portfolio-wrap-box h3 span {
  display: block;
}
footer .portfolio-content .portfolio-flex-box .portfolio-wrap-box p {
  padding: 25px 0;
}
footer .portfolio-content .portfolio-flex-box:hover {
  color: #ffffff;
  background-color: #007a82;
}
footer .portfolio-content .portfolio-flex-box:hover h3 {
  color: #febb0c;
}
footer .portfolio-content .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65);
}/*# sourceMappingURL=style.css.map */