@use "../partials_files/importers" as *;

.hero {
  background-color: $light-grey;
  position: relative;

  &-banner {
    @include flex;
    align-items: center;
    @include iphone12-media($iphone-screen) {
      flex-direction: column-reverse;
    }

    &__left-item {
      width: 50%;

      &__text {
        margin-bottom: 15px;
        @include iphone12-media($iphone-screen) {
          margin: 15px 0;
        }

        h4 {
          display: inline-block;
          color: $dark-blue;
        }

        &::before {
          content: "";
          width: 40px;
          height: 3px;
          background-color: $yellow;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px;
        }
      }

      &__title {
        max-width: 480px;

        h1 {
          color: $dark-black;
          font-size: 70px;
          font-family: myFont-1;
          font-weight: 100;
          letter-spacing: 1.5px;
        }
      }

      &__para {
        padding-right: 88px;

        @include iphone12-media($iphone-screen) {
          padding-right: 0;
        }

        p {
          line-height: 1.5;
        }
      }

      &__button {
        margin: 30px 0;

        a {
          @include button;
          display: inline-block;

          &:hover {
            @include button-hover;
          }
        }

        .button_active {
          @include active-button($white, $dark-blue);
        }
      }

      &__service {
        padding-right: 180px;
        @include iphone12-media($iphone-screen) {
          padding-right: 0;
          padding-bottom: 15px;
        }

        ul {
          li {
            margin-bottom: 15px;

            a {
              &::before {
                content: "\2022";
                color: $yellow;
                margin-right: 20px;
                margin-left: 20px;
              }
            }

            .no-desc::before {
              content: none;
            }
          }
        }
      }
    }

    &__image {
      width: 50%;
      padding-left: 40px;
      @include iphone12-media($iphone-screen) {
        padding-left: 0;
      }

      img {
        @include image;
      }
    }

    &__left-item, &__image {
      @include iphone12-media($iphone-screen) {
        width: 100%;
      }
    }
  }
}
