@use "../partials_files/importers" as *;

.banner-container {
  background-color: $light-grey;
  position: relative;

  .wrapper-container {
    @include flex;
    align-items: center;
    @media screen and (max-width: 390px) {
      flex-direction: column-reverse;
    }
  }

  .banner-left-container {
    width: 50%;

    .banner-text {
      margin-bottom: 15px;
      @media screen and (max-width: 390px) {
        margin: 15px 0;
      }

      h4 {
        display: inline-block;
        color: $dark-blue;
      }

      &::before {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $yellow;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
      }
    }

    .banner-title {
      max-width: 480px;

      h1 {
        color: $dark-black;
        font-size: 70px;
        font-family: myFont-1;
        font-weight: 100;
        letter-spacing: 1.5px;
      }
    }

    .banner-para {
      padding-right: 88px;

      @media screen and (max-width: 390px) {
        padding-right: 0;
      }

      p {
        line-height: 1.5;
      }
    }

    .banner-button {
      margin: 30px 0;

      a {
        @include button;
        display: inline-block;

        &:hover {
          @include button-hover;
        }
      }

      .active {
        @include active-button($white, $dark-blue);
      }
    }

    .banner-service {
      padding-right: 180px;
      @media screen and (max-width: 390px) {
        padding-right: 0;
        padding-bottom: 15px;
      }

      ul {
        li {
          margin-bottom: 15px;

          a {
            &::before {
              content: "\2022";
              color: $yellow;
              margin-right: 20px;
              margin-left: 20px;
            }
          }

          .no-desc::before {
            content: none;
          }
        }
      }
    }
  }

  .banner-image {
    width: 50%;
    padding-left: 40px;
    @media screen and (max-width: 390px) {
      padding: 0 20px;
    }

    img {
      @include image;
    }
  }

  .banner-left-container, .banner-image {
    @media screen and (max-width: 390px) {
      width: 100%;
      padding: 0 10px;
    }
  }
}
