@use "../partials_files/importers" as *;

footer {
  position: relative;
  top: -53px;
  @media screen and (max-width: 390px) {
    top: 0;
    background-color: $light-grey;
    padding-bottom: 15px;
  }

  .portfolio-content {
    @include flex;
    gap: 15px;
    width: 1000px;
    margin: 0 auto;
    @media screen and (max-width: 390px) {
      flex-direction: column;
      width: 370px;
    }

    .portfolio-flex-box {
      background-color: $white;

      .portfolio-wrap-box {
        margin: 18px;
        border-bottom: 3px solid $yellow;

        h3 {
          font-size: 25px;
          span {
            display: block;
          }
        }

        p {
          padding: 25px 0;
        }
      }

      &:hover {
        color: $white;
        background-color: $dark-blue;

        h3 {
          color: $yellow;
        }
      }
    }

    .shadow {
      @include shadow;
    }
  }
}
