@use "../partials_files/importers" as *;

footer {
  .wrapper-container {
    position: relative;
    height: 200px;
  }

  .portfolio-content {
    @include flex;
    position: absolute;
    top: -53px;
    left: 0;
    right: 0;
    width: 1000px;
    margin: 0 auto;
    z-index: 1;

    .portfolio-flex-box {
      margin: 0 10px;
      background-color: $white;

      .portfolio-wrap-box {
        margin: 18px;
        border-bottom: 3px solid $yellow;

        h3 {
          font-size: 25px;
          span {
            display: block;
          }
        }

        p {
          padding: 25px 0;
        }
      }

      &:hover {
        color: $white;
        background-color: $dark-blue;

        h3 {
          color: $yellow;
        }
      }
    }

    .shadow {
      @include shadow;
    }
  }
}
