@use "./variables" as *;

@mixin button {
  display: block;
  color: $grey;
  border: 0;
  border-radius: 80px;
  padding: 10px 20px;
  background-color: $light-grey;
}

@mixin button-hover {
  cursor: pointer;
  color: $white;
  background-color: $dark-blue;
}

@mixin active-button($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}

@mixin image {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin flex {
  display: flex;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65);
}
