@font-face {
  font-family: myFont-1;
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: myFont-2;
  src: url(../assets/fonts/Lato-Black.ttf);
}

@font-face {
  font-family: myFont-3;
  src: url(../assets/fonts/Lato-BlackItalic.ttf);
}

@font-face {
  font-family: myFont-4;
  src: url(../assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: myFont-5;
  src: url(../assets/fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: myFont-6;
  src: url(../assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: myFont-7;
  src: url(../assets/fonts/Lato-LightItalic.ttf);
}

@font-face {
  font-family: myFont-8;
  src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: myFont-9;
  src: url(../assets/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: myFont-10;
  src: url(../assets/fonts/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: myFont-11;
  src: url(../assets/fonts/Lato-BoldItalic.ttf);
}

$font-size-16: 1rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
